html {
	background: black;
	background-size: cover;
	
	background-color: black;
	//background-image: url("web.svg") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	width: 100%; 
    height: 100%; 
	background-position: center; /* Center the image */
}
body {
	background-size: cover;
	background-image: url("web.svg");
	background-size: 100% 100%; 
	//width: 2%; 
    height: 98%; 
}
a {
	vertical-align: middle;
	position: relative;
	//opacity: 1;
	color: rgba(204, 0, 204, 25);
	text-decoration: none;
	border: 19px solid dark blue;
}
a:hover {
	//opacity: 1;
	//filter: blur(5px);
	color: rgb(0, 255, 0);
	//background: rbg(255, 255, 255);
}
