body{
	margin: 0;
}

div.centered{
	width: 50%;
	margin: auto;
}

.title{
	margin-bottom: 0;
	font-family: Cantarell,Ubuntu,Segoe UI,Montserrat Medium, arial;
	letter-spacing: .2rem;
}
.subtitle{
	margin-top: 0;
	font-family: Cantarell,Ubuntu,Segoe UI,Montserrat Medium, arial;
	letter-spacing: .1rem;
}

.buttongrid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
	gap: 1.5em;
	grid-auto-flow: dense;
	min-height: 10em;
}
@keyframes shadowsFadeIn {
    0% { box-shadow: .25em .25em .66em #000000,-.25em -.25em .66em #333239; }
    100% { box-shadow: .1em .1em .66em #000000,-.1em -.1em .66em #333239; }
}
@keyframes shadowsFadeOut {
    0% { box-shadow: .1em .1em .66em #000000,-.1em -.1em .66em #333239; }
    100% { box-shadow: .25em .25em .66em #000000,-.25em -.25em .66em #333239; }
}
@keyframes shadowFadeIn {
    0% { box-shadow: inset .25em .25em 0 rgba(0,0,0,0), inset -.25em -.25em 0 rgba(0,0,0,0), .25em .25em .66em #000000,-.25em -.25em .66em #333239; }
    50% { box-shadow: none; }
    100% { inset .25em .25em .66em #000000, inset -.25em -.25em .66em #222222, .25em .25em 0 rgba(0,0,0,0),-.25em -.25em 0 rgba(0,0,0,0); }
}
@keyframes shadowFadeOut {
/    0% { box-shadow: inset .25em .25em .66em #000000, inset -.25em -.25em .66em #222222, .25em .25em 0 rgba(0,0,0,0),-.25em -.25em 0 rgba(0,0,0,0); }
    50% { box-shadow: none; }
    100% { box-shadow: inset .25em .25em 0 rgba(0,0,0,0), inset -.25em -.25em 0 rgba(0,0,0,0), .25em .25em .66em #000000,-.25em -.25em .66em #333239; }
}
button{
	animation: shadowsFadeOut .2s;
	border: 1px solid;
	border-radius: .5em;
	background: none;
/*	box-shadow: inset 0 0 2em #000000;*/
	box-shadow: .25em .25em .66em #000000,-.25em -.25em .66em #333239;
	border: 1px solid #404040;
	color: var(--main-font-color);
	transition: box-shadow .25s, background-size .25s;
	cursor: pointer;
	background-size: 110% !important;
	background-position: center !important;
}
button.desc::after{
	content: "" attr(description);
	font-style: italic;
	width: 90%;
	margin: auto;
	color: var(--main-font-color) !important;
	display: block;
	overflow: clip;
	white-space: pre-line;
	height: 0;
	border-top: 1px solid #77777700;
	transition: height .25s, border .5s;
}
button:hover{
/*	box-shadow: inset 0 0 0.33em #000000;*/
	animation: shadowFadeIn .1s;
	box-shadow:  inset .25em .25em .66em #00000099, inset -.25em -.25em .66em #222222, .25em .25em 0 rgba(0,0,0,0),-.25em -.25em 0 rgba(0,0,0,0);
	background-size: 100% !important;
}
button.desc:hover::after{
	height: 3em;
	border-top: 1px solid #77777700;
	white-space: pre-line;
}

button.github{
	background: #1177AA;
	background: url("./images_v5/code.jpg");
}

button.steam{
	background: #1155BB;
}

button.itch{
	background: #AA3366;
}

button.youtube{
	background: #AA2222;
}

a.btn{
	text-decoration: none;
	color: var(--dark-font-color);
	background: white;
	padding: .1em .5em;
}

.footer{
	background: #171717;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	padding: 1em;
	padding-top: .5em;
	margin-top: 3em;
}
	
#contact{
	margin-top: 0;
}

@media only screen and (max-width: 1100px) {
	div.centered{
		width: 75%;
	}
}
@media only screen and (max-width: 600px) {
	div.centered{
		width: 95%;
	}
	button.desc::after{
		height: 4em;
		border-top: 1px solid #77777700;
		white-space: pre-line;
	}
	button.desc:hover::after{
		height: 4em;
		border-top: 1px solid #77777700;
		white-space: pre-line;
	}
}
