body{
	background: black;
	color: white;
	height: 92vh;	
}
h1 {
	font-family: 'Cantarell', sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
}
.container{
    display: flex;
	height: calc(100% - 4em);	
}
.menu {
	margin: 1em;
	width: 10em;
	overflow-wrap: break-word;
	/* overflow: scroll; */
}
.content {
	margin: 1em;
	flex-grow: 1;
	overflow: scroll;
}
.vl {
/*	flex-grow: 1;*/
	margin-right: 0px;
	margin-left: 0px;
	border-left: 5px solid gray;
	height: 100%;
}
.hr {
	margin-bottom: 0px;
	margin-top: 0px;
	border: 2.5px solid gray;
	color: gray;
}

.end {
	margin-right: 0px;
}