body{
	background: black;
	color: white;
	/*height: 92vh;	*/
	min-height: 40vh;
	margin: 0px;
}
.logo {
	font-family: 'Cantarell', sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	background: #363636;
	letter-spacing: .11em;
	padding: .333em;
}
.container{
    display: flex;
    
/*	height: calc(100% - 4em);	*/
}
.menu {
	background: #4d836a;
	color: black;
	padding: 1em;
	margin: 0px;
	width: 10em;
	overflow-wrap: break-word;
	/* overflow: scroll; */
}
.menuhr {
	border: 2.5px solid black;
}
.content {
	margin: 1em;
	flex-grow: 1;
    overflow-y: auto;
	/* overflow: scroll; */
}
h1.c {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif;
}
h2.c {
	color: #808080 !important;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
}
p.c {
	color: #cccccc;
}
.vl {
/*	flex-grow: 1;*/
	margin-right: 0px;
	margin-left: 0px;
	border-left: 5px solid #4d836a;
/*	height: 100%; */
}
.hr {
	margin-bottom: 0px;
	margin-top: 0px;
	border: 3px solid #4d836a;
	color: gray;
}

.end {
	margin-right: 0px;
}
