button{
	border:0px;
}
button:hover{
	color: white;
	background-color: black;
}

.jf-img{
	cursor: pointer;
}

.jf-hidden1{
	display: none;
}

.jf-menu-hr{
	padding: 0px;
	margin: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-color: #4a4a4a;
}

.jf-menu-item{
	height: 9% !important;
}
